:root {
    --background-hero: #1ABC9C;
}

/* RESET */
img {
    width: 100%;
    height: 100%;
}

/* LAYOUT */
.container_free {
    max-width: 250px;
    margin: 0 auto;

    @media (min-width: 576px) {
        max-width: 460px;
        
        @media (min-width: 768px) {
            max-width: 660px;
        }

            @media (min-width: 992px) {
                max-width: 930px;
            }
    }
    
}

/* STYLE HEADER */
.page-header {
    background-color: #2C3E50;
    color: white;
    font-weight: bold;
}

/* STYLE HERO */
.hero {
    background-color: var(--background-hero);
    width: 100%;

    & img {
        width: 230px;
    }
}

/* STYLE ABOUT */
.about {
    background-color: var(--background-hero);
    width: 100%;
}

/* STYLE CONTACT-ME */
.contact-me {
    & input {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid rgba(128, 128, 128, 0.3);
        width: 100%;
        outline: none;
        padding-bottom: 15px;
        margin-bottom: 5px;
    }

    & input:last-of-type {
        margin-bottom: 30px;
    }

    & textarea {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid rgba(128, 128, 128, 0.3) ;
        width: 100%;
        outline: none;
        margin-bottom: 5px;
    }

    & button {
        border: none;
        background-color: var(--background-hero);
        color: white;
        border-radius: 5px;
        margin-bottom: 25px;
        font-size: 12px;
        padding: 5px 10px;
    }
}

::placeholder {
    color: black;
}

/* STYLE FOOTER */
.connections {
    background-color: #3A546D;
}

.copy {
    background-color: #2C3E50;
    font-size: 10px;
    color: white;
}

.m_divider hr {
    width: 100px;
    height: 3px;
    margin: 0;
    opacity: 1;
}

/* DEBUG */

.debug .about {
    height: 500px;
}