/* RESET */
ul,li,menu {
    list-style: none;
}

/* STYLE HEADER */
.page-header {
    background-color: #2C3E50;
    color: white;
    font-weight: bold;
}

/* STYLE HERO */
.hero {
    background-color: #1ABC9C;
    width: 100%;
}

/* DEBUG */
.debug .hero {
    height: 500px;
}

.debug [class^=col] {
    border: 3px solid red;
    height: 150px;
}
